CBX_Web_SISCOP/Connected Services/wsOrganizacion/OrganizacionSrv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35578/OrganizacionSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades" />
  <xs:element name="LlenarUbigeoInverso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUbigeo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LlenarUbigeoInversoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="LlenarUbigeoInversoResult" nillable="true" type="q1:ArrayOfUbigeo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarUnidadOrgResult" nillable="true" type="q2:ArrayOfUnidadOrgData" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strCoDep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stridpaisProv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarDistrictResult" nillable="true" type="q3:ArrayOfUbigeo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProvincias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="stridPaisDep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCoDep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProvinciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarProvinciasResult" nillable="true" type="q4:ArrayOfUbigeo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoJerarquía">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoJerarquíaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCampoJerarquíaResult" nillable="true" type="q5:ArrayOfJerarquiaOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoUnidSup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdJerOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoUnidSupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCampoUnidSupResult" nillable="true" type="q6:ArrayOfUnidadOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponsable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strfiltroPersonal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponsableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarResponsableResult" nillable="true" type="q7:ArrayOfPersonal" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intcodPais" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarUbigeoResult" nillable="true" type="q8:ArrayOfUbigeo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDirecFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDirecFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarDirecFiscalResult" nillable="true" type="q9:ArrayOfTGTipoEN" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepLegal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strfiltroPersonal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepLegalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarRepLegalResult" nillable="true" type="q10:ArrayOfRepLegal" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarPaisesResult" nillable="true" type="q11:ArrayOfPaises" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFiltroCampJer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFiltroCampJerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarFiltroCampJerResult" nillable="true" type="q12:ArrayOfJerCampDet" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUUnidadOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q13:UnidadOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUUnidadOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUUnidadOrgResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminmarUnidadOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUniOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminmarUnidadOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminmarUnidadOrgResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleUndOrgCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUndOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleUndOrgCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleUndOrgCodResult" nillable="true" type="q14:ArrayOfUnidadOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCamposAdicionalesUO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strEntidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intidJerOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCamposAdicionalesUOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCamposAdicionalesUOResult" nillable="true" type="q15:ArrayOfCamposAdicionales2" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrganizacionporsuPK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="IntIdUniOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrganizacionporsuPKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ObtenerOrganizacionporsuPKResult" nillable="true" type="q16:ArrayOfUnidadOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbigeosyListas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intidTipo" type="xs:int" />
        <xs:element minOccurs="0" name="intidUbigeo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbigeosyListasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ObtenerUbigeosyListasResult" nillable="true" type="q17:ArrayOfUbigeo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCargos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCargosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCargosResult" nillable="true" type="q18:ArrayOfCargo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q19:Cargo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUCargoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdCargo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCargoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCargoxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdCargo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCargoxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleCargoxCodResult" nillable="true" type="q20:ArrayOfCargo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoUnidOrga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdJerOrg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCampoUnidOrgaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCampoUnidOrgaResult" nillable="true" type="q21:ArrayOfUnidadOrg" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCategoriasResult" nillable="true" type="q22:ArrayOfCategoria" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdCategoria" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCategoriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q23:Categoria" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUCategoriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCategoriaxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdCateg" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCategoriaxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleCategoriaxCodResult" nillable="true" type="q24:ArrayOfCategoria" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarTipoPersonResult" nillable="true" type="q25:ArrayOfTipoPerson" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUTipoPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q26:TipoPerson" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUTipoPersonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUTipoPersonalResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdTipo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTipoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleTipoPerxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="IntIdTiPers" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleTipoPerxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleTipoPerxCodResult" nillable="true" type="q27:ArrayOfTipoPerson" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleGrupoxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleGrupoxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleGrupoxCodResult" nillable="true" type="q28:ArrayOfGrupo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q29:Grupo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUGrupoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarGruposResult" nillable="true" type="q30:ArrayOfGrupo" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarGrupResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetallePlanillaxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdPlanilla" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetallePlanillaxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetallePlanillaxCodResult" nillable="true" type="q31:ArrayOfPlanilla" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="IdPlanilla" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPlanillaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q32:Planilla" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUPlanillaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarPlanillaResult" nillable="true" type="q33:ArrayOfPlanilla" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCCostoxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="IntIdCCosto" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleCCostoxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleCCostoxCodResult" nillable="true" type="q34:ArrayOfCCosto" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q35:CCosto" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUCCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUCCostoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intfiltrojer" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCCostoResult" nillable="true" type="q36:ArrayOfCCosto" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="IntIdCCosto" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCCostoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleMarcadorxCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdMarcador" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDetalleMarcadorxCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ConsultarDetalleMarcadorxCodResult" nillable="true" type="q37:ArrayOfMarcador" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intActivoFilter" type="xs:int" />
        <xs:element minOccurs="0" name="strfilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarMarcadorResult" nillable="true" type="q38:ArrayOfMarcador" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUMarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipoOperacion" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="objDatos" nillable="true" type="q39:Marcador" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUMarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUMarcadorResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMarcador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intIdMarcador" type="xs:int" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMarcadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMarcadorResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCamposAdicionales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdSesion" type="xs:long" />
        <xs:element minOccurs="0" name="intIdMenu" type="xs:int" />
        <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
        <xs:element minOccurs="0" name="strEntidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCamposAdicionalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dominio.Entidades" minOccurs="0" name="ListarCamposAdicionalesResult" nillable="true" type="q40:ArrayOfCamposAdicionales2" />
        <xs:element minOccurs="0" name="strMsjUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>